In [1]:
import pandas as pd

In [2]:
#!pip install nsepy

In [3]:
#pip install scikit-learn==1.0.0

In [4]:
#pip install statsmodels==0.12.2

In [5]:
from nsepy import get_history as gh
import datetime as dt

In [6]:
#!pip install yfinance

In [7]:
import yfinance as yf

In [8]:
import datetime as dt

start = dt.datetime(2021, 7, 1)
end = dt.datetime(2022, 1, 27)
symbol = 'AXISBANK.NS'  # Stock symbol in uppercase

stk_data = yf.download(symbol, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [9]:
stk_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-01,750.000000,754.400024,744.500000,746.450012,744.555725,5695690
2021-07-02,747.599976,752.849976,744.000000,750.650024,748.745117,3557647
2021-07-05,757.099976,762.000000,753.400024,760.349976,758.420410,4680089
2021-07-06,757.000000,767.000000,755.200012,758.349976,756.425476,5529485
2021-07-07,755.900024,764.000000,752.250000,762.900024,760.963989,3573368
...,...,...,...,...,...,...
2022-01-19,725.200012,731.950012,718.700012,729.599976,727.748474,7746270
2022-01-20,731.049988,737.150024,722.150024,728.900024,727.050232,8505400
2022-01-21,722.000000,725.250000,708.049988,712.500000,710.691895,10689060
2022-01-24,715.000000,716.400024,688.200012,704.599976,702.811890,8812501
2022-01-25,714.000000,755.000000,708.599976,752.200012,750.291138,38088158

In [10]:
#start = dt.datetime(2021,7,1)
#end = dt.datetime(2022,1,27)
#stk_data = gh(symbol='NIFTY',start=start,end=end)

In [11]:
stk_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-01,750.000000,754.400024,744.500000,746.450012,744.555725,5695690
2021-07-02,747.599976,752.849976,744.000000,750.650024,748.745117,3557647
2021-07-05,757.099976,762.000000,753.400024,760.349976,758.420410,4680089
2021-07-06,757.000000,767.000000,755.200012,758.349976,756.425476,5529485
2021-07-07,755.900024,764.000000,752.250000,762.900024,760.963989,3573368
...,...,...,...,...,...,...
2022-01-19,725.200012,731.950012,718.700012,729.599976,727.748474,7746270
2022-01-20,731.049988,737.150024,722.150024,728.900024,727.050232,8505400
2022-01-21,722.000000,725.250000,708.049988,712.500000,710.691895,10689060
2022-01-24,715.000000,716.400024,688.200012,704.599976,702.811890,8812501
2022-01-25,714.000000,755.000000,708.599976,752.200012,750.291138,38088158

In [12]:
stk_data=stk_data[["Open","High","Low","Close"]]

In [13]:
stk_data

                  Open        High         Low       Close
Date
2021-07-01  750.000000  754.400024  744.500000  746.450012
2021-07-02  747.599976  752.849976  744.000000  750.650024
2021-07-05  757.099976  762.000000  753.400024  760.349976
2021-07-06  757.000000  767.000000  755.200012  758.349976
2021-07-07  755.900024  764.000000  752.250000  762.900024
...                ...         ...         ...         ...
2022-01-19  725.200012  731.950012  718.700012  729.599976
2022-01-20  731.049988  737.150024  722.150024  728.900024
2022-01-21  722.000000  725.250000  708.049988  712.500000
2022-01-24  715.000000  716.400024  688.200012  704.599976
2022-01-25  714.000000  755.000000  708.599976  752.200012

[143 rows x 4 columns]

In [14]:
column="Close"

In [15]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data[[column]])
print("Len:",data1.shape)

Len: (143, 1)

In [16]:
len(data1)

143

In [17]:
training_size = round(len(data1 ) * 0.95)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

136
X_train length: (136, 1)
X_test length: (7, 1)
y_train length: (136, 1)
y_test length: (7, 1)

In [18]:
import warnings
warnings.filterwarnings("ignore")

In [19]:
from statsmodels.tsa.arima.model import ARIMA
trends=['n','t','c','ct']
for td in trends:
    model = ARIMA(X_train, order=(0, 0, 10), trend=td)
    model_fit = model.fit()
    y_pred = model_fit.predict(start=len(X_train), end=len(data1) - 1)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test, y_pred)

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

Trend=n
RMSE-Testset: 0.36273210994003485
maPe-Testset: 0.8985607061219835

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

Trend=t
RMSE-Testset: 0.08982894320495852
maPe-Testset: 0.20924005404545126

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

Trend=c
RMSE-Testset: 0.07476057797739348
maPe-Testset: 0.16838480704480357
Trend=ct
RMSE-Testset: 0.13466886372369033
maPe-Testset: 0.257921521362301

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

In [20]:
len(y_pred)

7

In [22]:
from sklearn.metrics import mean_squared_error
td='ct'
model = ARIMA(X_train, order=(0,0,10),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=ct
RMSE-Testset: 0.13466886372369033
maPe-Testset: 0.257921521362301
************

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

In [ ]:
from stockFunctions import graph
graph(y_test,y_pred,"Actual","Predicted","TataCoffee-Close-AR-Norm","Days","Prices")

In [ ]:
len(data1)

In [ ]:
y_test

In [ ]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [ ]:
aTestNormTable

In [ ]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [ ]:
actual_stock_price_test_ori

In [ ]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [ ]:
actual_stock_price_test_oriA

In [ ]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [ ]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [ ]:
from stockFunctions import graph
graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","TataCoffee-Close-AR-Ori","Days","Prices")

In [ ]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

In [ ]:
forecast=model_fit.predict(len(data1), len(data1)+3)

In [ ]:
forecast

In [ ]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["Closefore"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Closefore"])

In [ ]:
forecast_stock_price_test_oriF

In [ ]:
forecast_stock_price_test_oriF.to_csv("CloseMA.csv",index=False)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))
plt.plot(actual_stock_price_test_oriA[116:145], color = 'blue', label="Actual")
plt.plot(forecast_stock_price_test_oriF, color = 'red', label ="Predicted")